.flex.flex-col.gap-y-2
  .block.text-lg.text-gray-600.font-regular
    = rooms.count
    rooms selected
  .flex.flex-wrap.gap-4
    - rooms.each_with_index do |room, idx|
      .flex.flex-col.border.border-gray-100.shadow-sm.rounded-md.p-4.gap-y-2
        = image_tag "hotel-room.png", class: "w-4 h-4"
        .text-sm.text-gray-500
          Room #{idx + 1}
  .block.border-t.border-gray-100.pt-4
    .text-base.text-gray-600.font-semibold
      Grand Total
    .text-rose-600.text-xl.font-semibold
      $
      = total_price