.border.w-full.mx-auto.py-1.rounded-full.shadow-md.transition.cursor-pointer.text-gray-600.group{class: "xl:w-1/2"}
  .flex.flex-row.items-center.justify-between.divide-x.divide-gray-100
    .px-1.w-full
      .text-xs.flex-1.hover:bg-gray-100.h-full.flex.flex-col.px-6.gap-y-1.py-2.transition.duration-300.ease-in-out.rounded-full
        %span.font-semibold.text-gray-700 Check in
        %span.font-regular.text-gray-500 Add dates
    .px-1.w-full
      .text-xs.flex-1.hover:bg-gray-100.h-full.flex.flex-col.px-6.gap-y-1.py-2.transition.duration-300.ease-in-out.rounded-full
        %span.font-semibold.text-gray-700 Check out
        %span.font-regular.text-gray-500 Add dates
    .px-1.w-full
      .text-xs.flex-1.hover:bg-gray-100.h-full.flex.flex-col.px-6.gap-y-1.py-2.transition.duration-300.ease-in-out.rounded-full
        %span.font-semibold.text-gray-700 Who
        %span.font-regular.text-gray-500 Add guests
    .px-1.w-full
      .text-xs.flex-1.hover:bg-gray-100.h-full.flex.flex-col.px-6.gap-y-1.py-2.transition.duration-300.ease-in-out.rounded-full
        %span.font-semibold.text-gray-700 How much
        %span.font-regular.text-gray-500 Add price
    .text-sm.pl-6.pr-2.flex.flex-row.items-center.gap-3
      .w-24.flex.justify-end
        .p-4.group-hover:p-3.bg-rose-500.rounded-full.text-white.flex.flex-row.items-center.group-hover:gap-x-2.w-12.h-12.group-hover:w-auto.transition.duration-400.ease-in-out
          = image_tag "search.png", class: "h-4 w-4"
          %span.opacity-0.group-hover:opacity-100.transition.duration-400.ease-in-ou.delay-100
            Search