.w-full
  .container.mx-auto.z-50.w-full.py-4.sticky.top-20.bg-white
    .border-b.pb-6
      = render partial: "hotels/search_form"
    = render partial: "hotels/categories"
  .container.mx-auto
    = render partial: "hotels/list"